<div id="app">
    <div class="main_space">
    <carousel></carousel>
    <navbar></navbar>
    </div>
    <div id="main">
            <transition name="slide">
                    <router-view></router-view>
            </transition>
                <joinmodal></joinmodal>
                <loginmodal></loginmodal>
                <editmodal></editmodal>
    </div>
    <footers></footers>
</div>

<%= javascript_pack_tag 'application'%>