<div id="app">
    <div class="main_space">
    <carousel></carousel>
    <navbar></navbar>
    </div>
    <div id="main">
            <transition name="fade">
                    <router-view></router-view>
            </transition>
    </div>
    <joinmodal></joinmodal>
    <loginmodal><loginmodal>
</div>

<%= javascript_pack_tag 'application'%>